.section-header {
  display: flex;
  align-items: center; 
  gap: 8px; 
}

.section-header img.section-icon {
  width: 45px;  
  height: 45px;
  object-fit: contain; 
}

.sidebar-title{
    color: black;
}
